<section class="dashboard content container box p-6">
    <h1 class="has-text-grey-dark">Welcome, {{username}}</h1>
    <h1><a class="button is-info is-outlined is-size-3 is-flex" href="/appointment/new">Add an appointment</a></h1>
    <h1><a class="button is-info is-outlined is-size-3 is-flex" href="/appointment/daily-itinerary">Daily Itinerary</a></h1>
    <h1><a class="button is-info is-outlined is-size-3 is-flex" href="/appointment/view-all-appointments">View all appointments</a></h1>
    <h1><a class="button is-info is-outlined is-size-3 is-flex" href="/appointment/search-appointments">Search appointments</a></h1>
</section>    

<script src="./js/dashboard.js"></script>