<section class=container>
    <h1><a href="/appointment/new">Add an appointment</a></h1>
    <h1><a href="/appointment/daily-itinerary">Daily Itinerary</a></h1>
    <h1><a href="/appointment/view-appointments">View all appointments</a></h1>
</section>                     