<section class="home-page content container box p-6">
    <h1 class="is-size-1">Welcome to Easy Appointment Tracker (EATen).</h1>
    <p class="subtitle is-size-4 has-text-semi-bold">The quick and easy way to track appointments.
        Whether it is for you or for someone else, Easee Appointment Tracker is the one to use to enter and
        track appointments.
    </p>
    <div class="tile is-ancestor">

        <div class="tile is-6 m-1">
            <article class="tile is-child notification is-success has-text-centered">
                <a href="/login" style="text-decoration: none;">
                    <p class="title">Already registered?</p>
                    <p class="title">Login</p>
                </a>
            </article>
        </div>
        <div class="tile is-6 m-1">
            <article class="tile is-child notification is-info has-text-centered">
                <a href="/signup" style="text-decoration: none;">
                    <p class="title">Don't have an account?</p>
                    <p class="title">Signup</p>
                </a>
            </article>
        </div>
    </div>

</section>

<script src="./js/homepage.js"></script>