<div class="row justify-space-between-md box column p-4">
  <label class="label is-medium">Login:</label>
  <form class="form login-form is-block">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" id="email-login" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" id="password-login" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="login button is-success px-5">Login</button>
      </p>
    </div>
    <p class="is-size-5">Don't have an account? <a href="/signup">Signup</a></p>
  </form>
</div>

<script src="./js/login.js"></script>