<section class=container>
    <h1 class="is-size-3">Appointments can be searched by date</h1>
    <form class="form search-appointment-form my-2">
        <div class="form-group">
            <label class="label is-size-5" for="date-from">Date from:</label>
            <input class="input" type="date" id="date-from" />
        </div>
        <div class="form-group my-2">
            <label class="label is-size-5" for="date-to">Date to:</label>
            <input class="input" type="date" id="date-to" />
        </div>
        <div class="form-group my-2">
            <label class="label is-size-5" for="appointment-by-whom">Who is the appointment for:</label>
            <input class="input" type="text" id="appointment-for-whom" list="appnts_for_whom" />
            <datalist id="appnts_for_whom">
                {{#each appointmentsForWhomUnique }}
                <option value={{this}}>
                {{/each}}
            </datalist>
        </div>
        <div class="form-group">
            <button class="button is-success" type="submit">Search</button>
        </div>
    </form>
</section>
<script src="/js/search-appointments.js"></script>