:root {
  --primary: hsl(209, 39%, 33%);
  --secondary: #52778b;
  --tertiary: #5e877f;
  --quatrinary: #b6b3a9;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: blue;
  text-decoration: none;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-grow: 1;
  flex-flow: column wrap;
  justify-content: center;
  align-items:stretch;
  background-color:var(--quatrinary);
  padding: 50px;
}


nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--dark);
  padding: 14px 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-primary {
  text-align: stretch;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.appointment {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items:stretch;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 200px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background: var(--primary);
  color: var(--light);
}


.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content:stretch;
  align-items: center;
}

/* Google Map */
/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
  border: 1px solid #52525262;
  border-radius: 0.2rem;
  height: 400px;
}

/* Google Maps Autocomplete search styling */
.pac-icon {
  display: none;
}

.pac-item {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.pac-item:hover {
  background-color: #ececec;
}

.pac-item-query {
  font-size: 16px;
}
